Repository pxlsspace/Pxls, pull requests merged in 2020-12, with the labels that each got.

#404 Palette configuration overhaul
  .gitignore
  resources/palette-reference.conf
  resources/public/pxls.js
  resources/reference.conf
  src/main/java/space/pxls/App.java
  src/main/java/space/pxls/palette/Color.java
  src/main/java/space/pxls/palette/Palette.java
  src/main/java/space/pxls/server/PacketHandler.java
  src/main/java/space/pxls/server/WebHandler.java
  src/main/java/space/pxls/server/packets/http/CanvasInfo.java
Labels: configuration change, enhancement, java

#426 Add a way for staff to place outside of the placemap and place transparent pixels.
  README.md
  resources/public/admin/admin.css
  resources/public/admin/admin.js
  resources/public/index.html
  resources/public/pxls.js
  resources/public/style.css
  resources/roles-reference.conf
  roles.md
  src/main/java/space/pxls/App.java
  src/main/java/space/pxls/server/PacketHandler.java
  src/main/java/space/pxls/server/UndertowServer.java
  src/main/java/space/pxls/server/WebHandler.java
  src/main/java/space/pxls/server/packets/socket/ClientAdminCooldownOverride.java
  src/main/java/space/pxls/server/packets/socket/ClientAdminPlacementOverrides.java
  src/main/java/space/pxls/server/packets/socket/ServerAdminPlacementOverrides.java
  src/main/java/space/pxls/server/packets/socket/ServerUserInfo.java
  src/main/java/space/pxls/user/PlacementOverrides.java
  src/main/java/space/pxls/user/User.java
Labels: enhancement, java, javascript

#447 Fix small crash when undoing a rollback where some pixels can't be undone.
  src/main/java/space/pxls/data/Database.java
Labels: bug, java

#433 Move chat color update messages to be a ratelimited endpoint
  resources/public/pxls.js
  resources/reference.conf
  resources/roles-reference.conf
  roles.md
  src/main/java/space/pxls/server/PacketHandler.java
  src/main/java/space/pxls/server/UndertowServer.java
  src/main/java/space/pxls/server/WebHandler.java
  src/main/java/space/pxls/server/packets/chat/ClientUserUpdate.java
  src/main/java/space/pxls/server/packets/chat/ServerACKClientUpdate.java
  src/main/java/space/pxls/server/packets/chat/ServerChatUserUpdateBuilder.java
  src/main/java/space/pxls/user/User.java
  src/main/java/space/pxls/util/PxlsPathHandler.java
Labels: configuration change, enhancement, java, javascript

#434 Store chat message purge reason and allow staff to retrieve purged messages on chat history.
  resources/public/pxls.js
  resources/roles-reference.conf
  roles.md
  src/main/java/space/pxls/data/DBChatMessage.java
  src/main/java/space/pxls/data/Database.java
  src/main/java/space/pxls/server/PacketHandler.java
  src/main/java/space/pxls/server/packets/chat/ChatMessage.java
Labels: database change, enhancement, java, javascript

#440 Reorder settings so that they are easier to navigate.
  resources/public/index.html
  resources/public/pxls.js
  resources/public/style.css
Labels: enhancement, javascript

#438 Added new theme "Terminal"
  resources/public/pxls.js
  resources/public/themes/terminal.css
Labels: css, theme

#441 Add a confirm action prompt to sign out.
  resources/public/pxls.js
Labels: enhancement, javascript

#442 Add command to send a raw packet to all connections from a specific user.
  README.md
  src/main/java/space/pxls/App.java
  src/main/java/space/pxls/server/UndertowServer.java
Labels: enhancement, java

#444 Remove staff chat commands.
  resources/public/pxls.js
Labels: javascript

#445 Some fixes in "matte" theme
  resources/public/themes/matte.css
Labels: css, theme

#446 Add new Red theme
  resources/public/pxls.js
  resources/public/themes/red.css
Labels: css, javascript, theme

#448 Change "1m+" to "1M+" due to popular demand.
  src/main/java/space/pxls/user/User.java
Labels: enhancement, java

#449 Make the `reload` command also reload palette config
  src/main/java/space/pxls/App.java
Labels: enhancement, java

#450 Add a small note explaining that the keybinds are based on the QWERTY layout
  resources/public/index.html
Labels: enhancement

#451 Fix `Unexpected token '.'` error on Safari.
  resources/public/pxls.js
Labels: bug, javascript

#417 Virginmap and Heatmap overlay excluding non-placeable pixels
  resources/public/pxls.js
  resources/public/style.css
Labels: enhancement, javascript

#443 Allow for toggling captchas for individual users
  README.md
  resources/reference.conf
  src/main/java/space/pxls/App.java
  src/main/java/space/pxls/server/PacketHandler.java
  src/main/java/space/pxls/user/User.java
Labels: configuration change, enhancement, java

#452 Add configurable custom emoji
  resources/public/emoji-button.min.js
  resources/public/pxls.js
  resources/public/pxlsMarkdown.min.js
  resources/public/style.css
  resources/reference.conf
  src/main/java/space/pxls/server/UndertowServer.java
  src/main/java/space/pxls/server/WebHandler.java
  src/main/java/space/pxls/server/packets/http/CanvasInfo.java
Labels: configuration change, enhancement, javascript

#453 Handle console command scanner erroring on shutdown
  src/main/java/space/pxls/App.java
Labels: bug, java

#454 Make emote/custom emoji size dependant on the width and not the height.
  resources/public/pxls.js
  resources/public/style.css
Labels: enhancement, javascript
