Repository pxlsspace/Pxls, pull requests merged in 2020-10, with the labels that each got.

#400 New "matte" theme
  resources/public/admin/admin.js
  resources/public/pxls.js
  resources/public/themes/matte.css
Labels: javascript, theme

#421 Fix broken color brightness workaround
  resources/public/pxls.js
  resources/public/style.css
Labels: bug, css, javascript

#424 Store default_board.dat in memory
  src/main/java/space/pxls/App.java
Labels: enhancement, java

#429 Escape TextFilter asterisks
  src/main/java/space/pxls/util/TextFilter.java
Labels: bug, java

#428 Fix profiles of permabanned users showing epoch time as the ban expiry
  src/main/java/space/pxls/user/User.java
Labels: bug, java

#425 Send place ACK when a shadow banned user places a pixel.
  src/main/java/space/pxls/server/PacketHandler.java
Labels: bug, java

#420 Fix rainbow and donator chat colors permission check on the client
  resources/public/pxls.js
Labels: bug, javascript
