Repository pxlsspace/Pxls, pull requests merged in 2021-01, with the labels that each got.

#455 Add Donator Gray username color to chat
  resources/public/pxls.js
  resources/public/style.css
  resources/roles-reference.conf
  roles.md
  src/main/java/space/pxls/server/WebHandler.java
  src/main/java/space/pxls/user/User.java
Labels: css, enhancement, javascript

#457 Only update query once the board is fully loaded
  resources/public/pxls.js
Labels: enhancement, javascript

#458 Remove duplicate definition of chat markdownProcessor
  resources/public/pxls.js
Labels: enhancement, javascript

#459 Fix "jump to ping" button on the pings list.
  resources/public/pxls.js
Labels: bug, javascript

#460 Ensure `serviceWorkerHelper.isInit` is set before we start using the service worker.
  resources/public/pxls.js
Labels: enhancement, javascript

#461 Set Secure attribute on cookies set over HTTPS
  src/main/java/space/pxls/server/WebHandler.java
Labels: bug, java

#462 Remove now unused DatabaseTimer thread.
  src/main/java/space/pxls/App.java
  src/main/java/space/pxls/util/DatabaseTimer.java
Labels: enhancement, java

#465 Redact factions in chat and lookups, and usernames in chat purges, during Snip mode
  src/main/java/space/pxls/App.java
  src/main/java/space/pxls/server/PacketHandler.java
  src/main/java/space/pxls/server/UndertowServer.java
  src/main/java/space/pxls/server/WebHandler.java
  src/main/java/space/pxls/server/packets/chat/ChatMessage.java
  src/main/java/space/pxls/server/packets/chat/ServerChatPurge.java
  src/main/java/space/pxls/server/packets/http/ExtendedLookup.java
  src/main/java/space/pxls/server/packets/http/Lookup.java
  src/main/java/space/pxls/user/User.java
Labels: enhancement, java

#468 Fix error message sent when trying to create a faction without enough all-time pixels.
  src/main/java/space/pxls/server/WebHandler.java
Labels: bug, java

#467 Allow for globally disabling chat
  resources/public/pxls.js
  resources/public/style.css
  resources/reference.conf
  src/main/java/space/pxls/App.java
  src/main/java/space/pxls/server/PacketHandler.java
  src/main/java/space/pxls/server/WebHandler.java
  src/main/java/space/pxls/server/packets/http/CanvasInfo.java
Labels: configuration change, enhancement, java, javascript

#464 Fix name of 🙄 emoji
  resources/public/emojiDB.min.js
Labels: bug, javascript

#463 Allow for configuring multiple origins which can fetch the authenticated user's name and ID from the /whoami endpoint.
  resources/reference.conf
  src/main/java/space/pxls/App.java
  src/main/java/space/pxls/server/WebHandler.java
Labels: configuration change, enhancement

#466 Second round of changes to improve the obfuscation of usernames and QoL improvements for staff during snip mode
  resources/public/pebble_templates/profile.html
  resources/public/pxls.js
  src/main/java/space/pxls/data/Database.java
  src/main/java/space/pxls/server/PacketHandler.java
  src/main/java/space/pxls/server/WebHandler.java
  src/main/java/space/pxls/server/packets/chat/ChatMessage.java
  src/main/java/space/pxls/server/packets/chat/ServerChatPurge.java
  src/main/java/space/pxls/server/packets/chat/ServerChatSpecificPurge.java
  src/main/java/space/pxls/server/packets/http/ExtendedLookup.java
  src/main/java/space/pxls/server/packets/http/Lookup.java
Labels: enhancement, java, javascript

#469 UI palette tweaks
  resources/public/index.html
  resources/public/pxls.js
  resources/public/style.css
Labels: css, enhancement, javascript

#470 Fix "Move Template Here" button moving the template to (0, 0) when a lookup fails
  resources/public/pxls.js
Labels: bug, javascript
